<ion-header>
  <ion-toolbar>
    <ion-title>Calendar</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="openEventModal()">
        <!-- <ion-icon name="target" slot="icon-only"></ion-icon> -->
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="year-month-navigation">
    <!-- Month navigation buttons -->
  </div>
  <div class="calendar-container">
    <div class="calendar-grid">
      <div class="calendar-header">
        <div *ngFor="let day of daysOfWeek" class="day-header">{{ day }}</div>
      </div>
      <div *ngFor="let week of currentMonthData.weeks" class="week">
        <div *ngFor="let day of week" class="day" (click)="selectDay(day)">
          <div class="day-number">{{ day.day }}</div>
          <div *ngIf="day.events.length > 0" class="event-indicator"></div>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer *ngIf="showEventModal">
  <ion-toolbar>
    <ion-title>Add Event</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="saveEvent()">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input type="text" [(ngModel)]="event.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Description</ion-label>
    <ion-textarea [(ngModel)]="event.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date</ion-label>
    <ion-datetime
      [(ngModel)]="event.date"
      displayFormat="MMM DD, YYYY"
    ></ion-datetime>
  </ion-item>
</ion-footer>
