<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="name">
      Durgesh Mandge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://durgeshmandge.github.io/MyProfies/images/Durgesh.jpg" />
  </ion-avatar>
  <h1>Qualifications</h1>
  <ion-list [inset]="true">
    <ion-item>
      <ion-label>
        <h2>
          Masters in Computer Application
        </h2>
        <h3>
          SPIT, Andheri Mumbai
        </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
