<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="name">
      Durgesh Mandge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://durgeshmandge.github.io/MyProfies/images/Durgesh.jpg"/>
  </ion-avatar>
  <h1>Qualifications</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Master's In Computer Application</ion-card-title>
      <ion-card-subtitle>2023-25</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Master's In Computer Application
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bachelor's In Computer Science</ion-card-title>
      <ion-card-subtitle>2020-23</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>
  <ion-checkbox>All above information is as per best of my knowledge.</ion-checkbox>
</ion-content>
